@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    color: #0b132a;
    outline: none;
  }
  button {
    @apply cursor-pointer text-gray-500 font-semibold rounded-lg shadow focus:outline-none bg-white shadow hover:bg-opacity-95 hover:shadow-md focus:ring-opacity-0;
  }

  .btn-primary {
    @apply bg-blue-500 px-24 py-3 text-white dark:bg-yellow-500 dark:text-blue-600;
  }

  .btn-secondary {
    @apply bg-red-500 px-24 py-3 text-white dark:text-blue-600;
  }

  .btn-ternary {
    @apply bg-purple-800 px-24 py-3 text-white dark:text-blue-600;
  }

  .btn-secondary-ghost {
    @apply bg-white dark:bg-blue-500 hover:bg-red-500 px-16 py-2 text-red-500 dark:text-blue-200 hover:text-white dark:hover:text-white border-2 border-red-500 dark:border-blue-400 rounded-full;
  }

  .btn-tab {
    @apply bg-gray-100 px-2 py-2 w-full dark:bg-blue-400 dark:text-blue-200 w-40 m-1;
  }

  .btn-big {
    width: 21rem;
  }

  .custom-container {
    @apply mt-6 w-full px-3 md:px-2 lg:px-36;
    max-width: 1800px;
    margin: 0 auto;
  }
  .program-cover {
    height: 30rem;
  }
  .program-summary {
    transform: translate(0, -4rem);
  }
  .colorful-shadow {
    transform: translate(10px, 20px);
    background: linear-gradient(
      58.37deg,
      #4fc1ec 0%,
      #9d4693 53.45%,
      #f3e617 100%
    );
    filter: blur(24px);
  }

  #homepage .background-img {
    background-image: url("/bg.svg");
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    top: 0;
  }

  @media (max-width: 1400px) {
    .custom-container {
      @apply px-2;
    }
  }

  @media (max-width: 768px) {
    #homepage .background-img {
      background-image: none;
    }
  }

  .testimonial-card {
    min-width: 350px;
  }

  .logo-slider-wrapper {
    animation: 80s linear 0s infinite normal none running logo-animation;
  }
  .logo-svg {
    display: inline-block;
    padding: 0px 2rem;
    vertical-align: middle;
    opacity: 0.6;
    filter: grayscale(100%);
    outline: none;
    cursor: default;
    transition: opacity 0.3s ease 0s;
  }

  .logo-svg img {
    height: 50px;
  }
}

@keyframes logo-animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
.rotated-half-circle {
  width: 600px;
  height: 300px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
}
.circle-elements {
  transform: translate(300px, 300px);
}
.item-0 {
  transform: rotate(15deg) translate(-350px);
}
.reverse-0 {
  transform: rotate(15deg);
}
.item-1 {
  transform: rotate(40deg) translate(-350px);
}
.reverse-1 {
  transform: rotate(-40deg);
}
.item-2 {
  transform: rotate(67deg) translate(-350px);
}
.reverse-2 {
  transform: rotate(-67deg);
}
.item-3 {
  transform: rotate(100deg) translate(-330px);
}
.reverse-3 {
  transform: rotate(-100deg);
}
.item-4 {
  transform: rotate(130deg) translate(-300px);
}
.reverse-4 {
  transform: rotate(-130deg);
}
.item-5 {
  transform: rotate(161deg) translate(-275px);
}
.reverse-5 {
  transform: rotate(-161deg);
}

.colorful-border {
  border: 25px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
