@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    color: #0b132a;
    outline: none;
  }

  button {
    @apply text-gray-500 px-24 py-4 font-semibold rounded-lg shadow focus:outline-none bg-white shadow hover:bg-opacity-95 hover:shadow-md focus:ring-opacity-0;
  }

  .btn-primary {
    @apply bg-blue-500 text-white dark:bg-yellow-500 dark:text-blue-600;
  }

  .btn-secondary {
    @apply bg-red-500 text-white dark:text-blue-600;
  }
  .colorful-shadow {
    transform: translate(10px, 20px);
    background: linear-gradient(
      58.37deg,
      #4fc1ec 0%,
      #9d4693 53.45%,
      #f3e617 100%
    );
    filter: blur(24px);
  }
}
